body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(241, 241, 241, 0.62);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /*margin: 10px 0;*/
}

label {
    flex: 1 1 30%;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    flex: 2 1 70%;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 16px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    /*transition: background-color 0.2s ease;*/
    /*align-items: center;*/
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}