<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="/static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <form th:action="@{/toRegister}">
            <div class="form-group">
                <label for="account">账号:</label>
                <input type="text" id="account" name="account" required="" placeholder="请输入账号">
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required="" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <label for="confirm-password">确认密码:</label>
                <input type="password" id="confirm-password" name="confirm-password" required="" placeholder="请确认密码">
            </div>
            <div class="button-group">
                <button type="submit" >注册</button>
            </div>
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        </form>
    </div>

</body>
</html>